:root {
	/* color */
	--primary-color: #b689c0;
	--btn-color: #6a67ce;
	--heading-color: #8d72c7;

	/* Font */
	--heading-font: "Playfair Display", serif;
	--main-font: "Poppins", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: var(--main-font);
	transition: all 0.4s ease-in-out;
}

.container {
	max-width: 1420px;
}

.section-margin {
	margin-top: 250px;
}

/* Navbar Start */
.navbar {
	height: 140px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.navbar .container {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .logo {
	font-family: var(--heading-font);
	font-weight: 800;
	font-size: 30px;
	color: var(--primary-color);
	/* background-color: salmon; */
	margin-top: -20px;
}

.container .logo span {
	color: var(--heading-color);
}

.navbar .container .menu-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.container .menu-wrapper .menu {
	margin: 0 auto;
}

.menu-wrapper .menu a {
	font-family: var(--main-font);
	font-size: 18px;
	font-weight: 400;
	color: #947ec3;
	margin: 0 20px;
}

.menu-wrapper .menu a.active {
	font-weight: 800;
	color: var(--primary-color);
}

.menu-wrapper .icons {
	font-size: 25px;
}

.menu-wrapper .icons .icon {
	margin-right: 20px;
	color: var(--primary-color);
}

.container .hamburgerMenu {
	font-size: 50px;
	color: var(--primary-color);
}

.container .hamburgerMenu,
.container .menuClose {
	display: none;
}
/* Navbar End */

/* Homepage Start */
.home .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-top: 200px;
	border-radius: 20px;
	padding: 60px 95px;
	background-color: var(--primary-color);
}

/* .container .content-left {
	max-width: 600px;
} */
.container .content-left .heading {
	font-family: var(--heading-font);
	font-weight: 800;
	font-size: 45px;
	line-height: 50px;
	color: var(--heading-color);
}

.container .content-left .subheading {
	font-size: 20px;
	font-weight: 300;
	color: #dcc5e7;
	/* width: 460px; */
	margin-top: 15px;
}

.content-left .btn-home {
	margin-top: 120px;
}

.btn-home .btn-explore {
	padding: 16px 24px;
	background-color: var(--btn-color);
	color: var(--primary-color);
	border-radius: 8px;
	display: inline-block;
	font-family: var(--heading-font);
	font-size: 18px;
	cursor: pointer;
	border: 2px solid var(--btn-color);
}

.btn-home .btn-explore:hover {
	background-color: #fff;
	border: 2px solid #fff;
}

.btn-home .btn-learn {
	padding: 16px 24px;
	border-radius: 8px;
	display: inline-block;
	font-size: 18px;
	border: 2px solid var(--btn-color);
	margin-left: 40px;
	cursor: pointer;
}

.btn-home .btn-learn:hover {
	background-color: var(--btn-color);
	color: var(--primary-color);
}

.container .content-right {
	max-width: 500px;
}

.content-right .swiper-wrapper {
	padding-bottom: 60px;
}

.content-right .swiper-wrapper img {
	display: block;
	margin: auto;
	margin-top: -100px;
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	border-radius: 1;
	border: 2px solid var(--btn-color);
	background: none;
	opacity: 0.4;
}

.swiper-pagination-bullet-active {
	background: var(--btn-color);
	opacity: 1;
}
/* Homepage End */

/* Responsive */

/* Tablet */
@media screen and (max-width: 768px) {
	.navbar .container {
		padding: 0 20px;
	}
	.container .hamburgerMenu,
	.container .menuClose {
		display: initial;
	}
	.navbar .container .menu-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: var(--primary-color);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		transition: 0.3s ease-in-out;
	}
	.navbar .container .menu-wrapper.active {
		clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
		transition: 0.3s ease-in-out;
	}
	.menu-wrapper .icons i {
		color: var(--btn-color) !important;
	}
	.menu-wrapper .menu a {
		display: block;
		margin: 50px 0;
		color: rgb(109, 36, 105);
	}
	.menu-wrapper .menu a.active {
		color: var(--btn-color);
	}
	.menu-wrapper .menuClose {
		font-size: 40px;
		color: var(--btn-color);
		position: absolute;
		top: 50px;
		right: 50px;
	}
	.home {
		padding: 0 20px;
	}
	.home .container {
		flex-direction: column;
	}
	.container .content-left .heading {
		font-size: 46px;
	}
	.container .content-left .subheading {
		font-size: 18px;
	}
	.content-right .swiper-wrapper img {
		max-width: 300px;
		width: 100%;
		margin-top: 5px;
	}
}

@media screen and (max-width: 576px) {
	.home .container {
		margin-top: 150px;
		padding: 40px 30px;
	}
	.container .content-left .heading {
		font-size: 24px;
		line-height: 35px;
	}
	.container .content-left .subheading {
		font-size: 16px;
	}
	.content-left .btn-home {
		margin-top: 50px;
	}
	.btn-home .btn-explore {
		padding: 14px 16px;
		font-size: 12px;
	}
	.btn-home .btn-learn {
		padding: 14px 16px;
		font-size: 12px;
		margin-left: 20px;
	}
	.content-right .swiper-wrapper img {
		max-width: 250px;
		width: 100%;
		margin-top: 5px;
	}
}
