:root {
	/* color */
	--primary-color: #b689c0;
	--btn-color: #6a67ce;
	--heading-color: #8d72c7;

	/* Font */
	--heading-font: "Playfair Display", serif;
	--main-font: "Poppins", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: var(--main-font);
	transition: all 0.4s ease-in-out;
}

.container {
	max-width: 1200px;
}

.section-margin {
	margin-top: 250px;
}

/* Navbar Start */
.navbar {
	height: 140px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.navbar.active {
	height: 100px;
	background-color: #fff;
	box-shadow: 0 1px 10px rgba(232, 128, 232, 0.289);
}

.navbar .container {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .logo {
	font-family: var(--heading-font);
	font-weight: 800;
	font-size: 30px;
	color: var(--primary-color);
	/* background-color: salmon; */
	margin-top: -20px;
}

.container .logo span {
	color: var(--heading-color);
}

.navbar .container .menu-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.container .menu-wrapper .menu {
	margin: 0 auto;
}

.menu-wrapper .menu a {
	font-family: var(--main-font);
	font-size: 18px;
	font-weight: 400;
	color: #947ec3;
	margin: 0 20px;
}

.menu-wrapper .menu a.active {
	font-weight: 800;
	color: var(--primary-color);
}

.menu-wrapper .icons {
	font-size: 25px;
}

.menu-wrapper .icons .icon {
	margin-right: 20px;
	color: var(--primary-color);
}

.container .hamburgerMenu {
	font-size: 50px;
	color: var(--primary-color);
}

.container .hamburgerMenu,
.container .menuClose {
	display: none;
}
/* Navbar End */

/* Homepage Start */
.home .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-top: 200px;
	border-radius: 20px;
	padding: 60px 95px;
	background-color: rgba(234, 151, 234, 0.596);
}

/* .container .content-left {
	max-width: 600px;
} */
.container .content-left .heading {
	font-family: var(--heading-font);
	font-weight: 800;
	font-size: 35px;
	color: var(--heading-color);
}

.container .content-left .subheading {
	font-size: 18px;
	font-weight: 300;
	color: #5d5a5e;
	/* width: 460px; */
	margin-top: 15px;
}

.content-left .btn-home {
	margin-top: 120px;
}

.btn-home .btn-explore {
	padding: 16px 24px;
	background-color: var(--btn-color);
	color: #fff;
	border-radius: 8px;
	display: inline-block;
	font-family: var(--heading-font);
	font-size: 18px;
	cursor: pointer;
	border: 2px solid var(--btn-color);
}

.btn-home .btn-explore:hover {
	background-color: #fff;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}

.btn-home .btn-learn {
	padding: 16px 24px;
	border-radius: 8px;
	display: inline-block;
	font-size: 18px;
	border: 1px solid var(--btn-color);
	margin-left: 40px;
	cursor: pointer;
	color: var(--heading-color);
}

.btn-home .btn-learn:hover {
	background-color: var(--btn-color);
	color: #fff;
}

.container .content-right {
	max-width: 500px;
}

.content-right .swiper-wrapper {
	padding-bottom: 60px;
}

.content-right .swiper-wrapper img {
	display: block;
	margin: auto;
	margin-top: -100px;
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	border-radius: 1;
	border: 2px solid var(--btn-color);
	background: none;
	opacity: 0.4;
}

.swiper-pagination-bullet-active {
	background: var(--btn-color);
	opacity: 1;
}
/* Homepage End */

/* Panel Start */
.panel .container {
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 100px;
}

.panel .container .item {
	display: flex;
	align-items: center;
}

.container .item .icon {
	background-color: var(--primary-color);
	padding: 25px;
	border-radius: 50%;
	-webkit-box-shadow: 2.5px 11.5px 9px 2.5px #dedede;
	-moz-box-shadow: 2.5px 11.5px 9px 2.5px #dedede;
	box-shadow: 2.5px 11.5px 9px 2.5px #dedede;
	border: 1px solid #fff;
}

.container .item .icon i {
	font-size: 40px;
	color: #fff;
}

.container .item .text-panel {
	margin-left: 20px;
	padding: 0 10px;
}

.container .item .text-panel .title {
	font-family: var(--heading-font);
	color: var(--primary-color);
	font-size: 25px;
}

.container .item .text-panel .subtitle {
	color: #b5b5b5;
	margin-top: 10px;
	font-size: 14px;
	max-width: 300px;
}
/* Panel End */

/* Service Start */
.service {
	margin-top: 250px;
}
.service .container {
	margin: auto;
}

.service .container .row1,
.banner .container .row1 {
	text-align: center;
}

.service .row1 .title,
.product .row1 .title,
.banner .row1 .title {
	font-size: 30px;
	font-weight: 800;
	font-family: var(--heading-font);
	color: var(--heading-color);
}

.service .row1 .label,
.product .row1 .label,
.banner .row1 .label {
	font-weight: 300;
	font-size: 16px;
	color: var(--heading-color);
	margin-top: 10px;
}

.service .container .row2 {
	margin-top: 80px;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
}

.service .row2 .img-box {
	position: relative;
}

.row2 .img-box .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(232, 128, 232, 0.289);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	clip-path: circle(0% at 50% 50%);
	transition: 0.4s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row2 .img-box .overlay a {
	color: rgba(209, 15, 209, 0.644);
	font-weight: 800;
	font-family: var(--heading-font);
	font-size: 24px;
}

.row2 .img-box:hover .overlay {
	clip-path: circle(70.7% at 50% 50%);
	transition: 0.4s ease-in-out;
}

.img-box img {
	width: 100%;
	border-radius: 10px;
}
/* Service End */

/* Banner Start */
.banner {
	margin-top: 250px;
	background-color: #bc78cb4a;
	padding: 50px 0;
}
.banner .container {
	margin: auto;
}
.banner .row2 {
	margin-top: 80px;
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-around;
}

.banner .banner-left {
	margin-right: 30px;
}
.banner .banner-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.banner .banner-left .img-box {
	max-width: 635px;
}
.banner .banner-right .img-box {
	max-width: 670px;
}
.banner .banner-left .img-box img,
.banner .banner-right .img-box img {
	width: 100%;
}
/* Banner End */

/* Product Start */
.product {
	margin-top: 250px;
}
.product .container {
	margin: auto;
}
.product .container .row1 {
	text-align: left;
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.product .container .row1 .label {
	width: 735px;
	font-size: 16px;
}
.product .container .row1 .btn-slider {
	font-size: 40px;
	color: var(--btn-color);
}
.product .container .row1 .btn-slider i {
	cursor: pointer;
}
.product .row2 {
	margin-top: 20px;
}
.product .row2 .card-product {
	background: #b689c0;
	box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.25);
	border-radius: 50px 10px;
	width: 300px;
	padding: 30px 20px;
	position: relative;
}
.product .row2 .card-product img {
	display: block;
	margin: auto;
	border-radius: 50px 10px;
	width: 100%;
}
.product .row2 .card-product .card-body {
	margin-top: 50px;
}
.product .row2 .card-product .product-name {
	font-size: 28px;
	color: #fff;
	font-weight: 600;
	font-family: var(--heading-font);
}
.product .row2 .card-product .star {
	color: var(--btn-color);
	font-size: 24px;
	margin-top: 5px;
}
.row2 .card-product .card-body .stock {
	color: #fff;
	margin-top: 5px;
}
.row2 .card-product .card-body .price {
	font-size: 22px;
	font-weight: 600;
	color: #fff;
	margin-top: 20px;
}
.row2 .card-product .card-buy {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #d7d7d7a8;
	font-size: 30px;
	padding: 25px;
	border-radius: 30px 0 50px;
	cursor: pointer;
}
.row2 .card-product .card-buy:hover {
	background-color: #fff;
}
.row2 .card-product .card-buy i {
	color: var(--btn-color);
}

/* Product End */

/* Responsive */
/* Tablet */
@media screen and (max-width: 768px) {
	.navbar .container {
		padding: 0 20px;
	}
	.container .hamburgerMenu,
	.container .menuClose {
		display: initial;
	}
	.navbar .container .menu-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: var(--primary-color);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		transition: 0.3s ease-in-out;
	}
	.navbar .container .menu-wrapper.active {
		clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
		transition: 0.3s ease-in-out;
	}
	.menu-wrapper .icons i {
		color: var(--btn-color) !important;
	}
	.menu-wrapper .menu a {
		display: block;
		margin: 50px 0;
		color: rgb(109, 36, 105);
	}
	.menu-wrapper .menu a.active {
		color: var(--btn-color);
	}
	.menu-wrapper .menuClose {
		font-size: 40px;
		color: var(--btn-color);
		position: absolute;
		top: 50px;
		right: 50px;
	}
	.home {
		padding: 0 20px;
	}
	.home .container {
		flex-direction: column;
	}
	.container .content-left .heading {
		font-size: 46px;
	}
	.container .content-left .subheading {
		font-size: 18px;
	}
	.content-right .swiper-wrapper img {
		max-width: 300px;
		width: 100%;
		margin-top: 5px;
	}

	.panel .container {
		flex-wrap: wrap;
		padding: 0 20px;
		margin-top: 100px;
	}
	.panel .container .item {
		margin: 20px 0;
	}
	.container .item .icon {
		padding: 20px;
	}
	.container .item .icon i {
		font-size: 25px;
	}
	.container .item .text-panel .title {
		font-size: 20px;
	}
	.container .item .text-panel .subtitle {
		margin-top: 5px;
		font-size: 16px;
		max-width: 500px;
	}
	/* Service Start */
	.service {
		margin-top: 200px;
		padding: 0 20px;
	}
	.row1 .title {
		font-size: 26px;
	}
	.row1 .label {
		font-size: 16px;
		text-align: center;
	}
	.service .row2 {
		flex-wrap: wrap;
	}
	/* Service End */
	.banner .row2 {
		padding: 0 20px;
		flex-wrap: wrap;
		gap: 20px;
	}
	.banner .row2 .banner-left,
	.banner .row2 .banner-right {
		gap: 20px;
		margin: auto;
	}
}

@media screen and (max-width: 576px) {
	.home .container {
		margin-top: 150px;
		padding: 40px 30px;
	}
	.container .content-left .heading {
		font-size: 24px;
		line-height: 35px;
	}
	.container .content-left .subheading {
		font-size: 16px;
	}
	.content-left .btn-home {
		margin-top: 50px;
	}
	.btn-home .btn-explore {
		padding: 14px 16px;
		font-size: 12px;
	}
	.btn-home .btn-learn {
		padding: 14px 16px;
		font-size: 12px;
		margin-left: 20px;
	}
	.content-right .swiper-wrapper img {
		max-width: 250px;
		width: 100%;
		margin-top: 5px;
	}
	.container .item .icon {
		padding: 20px;
	}
	.container .item .icon i {
		font-size: 20px;
	}
	.container .item .text-panel .title {
		font-size: 14px;
	}
	.container .item .text-panel .subtitle {
		margin-top: 5px;
		font-size: 12px;
	}
	.banner .row2 {
		padding: 0 20px;
		flex-wrap: wrap;
		gap: 20px;
	}
	.banner .row2 .banner-left {
		display: block;
		margin: auto;
	}
	.banner .row2 .banner-right {
		gap: 20px;
	}
}
